# Ignore pycache folders
__pycache__/

# Ignore .DS_Store
.DS_Store

# Ignore all folders inside models/
models/*/

# Ignore all folders inside data/input/
data/input/*/
!data/input/demo/

# Ignore all folders inside data/embeddings/
data/embeddings/*
!data/embeddings/.gitkeep

# Ignore .csv files inside results/
results/*.csv